* {
  background-color: lightblue;
}

.calculator-container {
  background-color: lightseagreen;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.calculator-title {
  margin-bottom: 20px;
}

.calculator-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
}

.calculator-button {
  background-color: lightgray;
  width: 80px;
  height: 40px;
  margin: 5px;
}
